/*----------------------------------------
Project:	Blur.TV HTML Template

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. Theme Dark & light
2. Header
3. form
4. Map


/*==============================
Theme Dark & light
==============================*/
:root{
	--lightMode: #fff;
	--darkMode: rgba(9,18,32,1);
	--yellow: orange;
	--red: #0051ff;
	--blue-red: #FF0000;
	--red-blue: #0051ff;
	--blue-white: #eeeeee;
	--mov: #4b4b4f;
	--blue: #eeeeee;
	--blue2: #EEE;
	--blue3: #0051ff;
	--aside: #ffffff;
	--head: #091226;
	--yellow-blue: #0f1a32;
	--gray-blue: #3C4B57;
	--underline: #00000042;
	--opacity: rgba(233, 233, 233, 0.544);
	--opacity1:#eeeeee;
	--opacity2:#ffd4d645;
	--opacity3:#f0edff00;
	--blue-gray-blue: #3C4B57;
	--bg-gradient:rgba(0, 45, 107, 0);
	--btn-blur2: #eeeeeeb6;
	--btn-blur:#eeeeeeb4;
}

html[data-theme="lightMode"]{
	--darkMode: #EEE;
	--lightMode: rgba(9,18,32,1);
	--yellow: #F7FF00;
	--red-blue: #FF0000;
	--blue-red: #0051ff;
	--red: #FF0000;
	--blue-white: #0B1538;
	--head: #09122600;
	--yellow-blue: #F7FF00;
	--mov: #111C5F;
	--blue: #0B1538;
	--blue2: rgba(9,18,32,1);
	--blue3: #091226;
	--aside: #0b1538d1;
	--gray-blue: #091226;
	--gray: #35363a00;
	--underline: #eeeeee42;
	--opacity:rgba(9, 18, 32, 0.895);
	--opacity1: rgba(9,18,32,1);
	--opacity2: rgba(0,0,0,0.6980042016806722);
	--blue-gray-blue: #091226;
	--opacity3: rgba(0,0,0,0);
	--bg-gradient:rgba(0, 44, 107, 0.62);
	--btn-blur:rgba(9,18,32,1);
	--btn-blur2:rgba(9,18,32,1);
}

/* Start Header  */
.poseterHeader {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    letter-spacing: 2px;
    font-size: 3rem;
    padding-bottom: 25px;
    position: relative;
    width: 100%;
    height: 200px;
    background: linear-gradient(20deg,rgba(3, 3, 3, 0.911), rgba(0, 0, 0, 0.445)), url(../img/cover.jpg) no-repeat center center /cover;
}
/* End Header  */

/* Start contact */
.contact{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background: var(--blue);
    box-shadow: 1px 5px 13px rgb(0 0 0 / 34%);
}

.form{
    grid-area: form;
}
.info{
    grid-area: info;
}
.map{
    grid-area: map;    
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: 
    "form info"  
    "form map" ;
    grid-gap: 20px;
    margin-top: 25px;
}
.contact h3{
    color: var(--darkMode);
    font-weight: 500;
    font-size: 1.4em;
    margin-bottom: 20px;
}


/* Form */
.formBox {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.formBox .row50{
    display: flex;
    gap: 20px;
}

.inputbox{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.formBox .row100 .inputbox{
    width: 100%;
}

.inputbox span{
    color: #18b7ff;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
}

.inputbox input {
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--lightMode);
}

.inputbox textarea{
    padding: 10px;
    font-size: 1.1em;
    outline: none;
    border: none;
    border-radius: 10px;
    background: var(--lightMode);
    resize: none;
    min-height: 220px;
    margin-bottom: 10px;
}

.inputbox input[type="submit"]{
    box-shadow: inset 1px 1px 10px rgb(88 105 255 / 77%);
    background: var(--lightMode);
    color: var(--darkMode);
    border: none;
    font-size: 1.1em;
    max-width: 120px;
    font-weight: 500;
    cursor: pointer;
    padding: 14px 15px;
}

.inputbox ::placeholder{
    color: #999;
}


.info h3{
    color: var(--darkMode);
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.info .infoBox div span{
    display: flex;
    min-width: 35px;
    height: 35px;
    color: var(--lightMode);
    background: var(--darkMode);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 50%;
    margin-right: 15px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.info .infoBox div p{
    color: var(--darkMode);
    font-size: 1.1em;
}

.info .infoBox div a{
    color: var(--darkMode);
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1.6px;
}

.sci{
    display: flex;
    justify-content: space-evenly;
   
}

.sci li{
    margin-left: 10%;
    margin-top: 20px;
    list-style: none;
    margin-right: 15px;
}

.sci li a{
    color: var(--darkMode);
    font-size: 2em;
}

.sci li a:hover{
    color: #ff578b;
}

/* Start Map */
.map{
    padding: 0;
}
.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


/*  Responsive */
@media(max-width: 991px){
    .box{
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "form"
            "info"
            "map";
    }
    .map{
        min-height: 300px;
    }
    .formBox .row50{
        display: flex;
        gap: 0;
        flex-direction: column;
    }
    .infoBox input{
        width: 100%;
    }
    .contact{
        padding: 30px;
    }

}