

/*==============================
	Cards
==============================*/
main h3 {
	color: var(--darkMode);
	z-index: index 3;
}
.titleSections{
	display: inline-flex;
    border-bottom: 1px solid var(--underline);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
	margin-top: 80px;
	position: sticky;
	z-index:3;
}
.titleSections a{
    color: var(--darkMode);
}
.my-10{margin:40px auto}
.content{
	position:relative;
	background: radial-gradient(circle, var(--bg-gradient) 0%, var(--lightMode) 69%, var(--lightMode) 69%, var(--lightMode) 69%);
    width: 100%;
    padding: 15px 0px 1px;
    color: var(--darkMode);
}
.content .boxImgs{
	position: relative;
    border-radius: 10px;
    margin: 30px auto;
    min-width: 186px;
    height: 310px;
    transition: all .3s ease-in-out;
    z-index: 1;
}
.content .boxImgs:hover{
	z-index: 2; 
}
.content .boxImgs .itemsCard{
	position: absolute;
	border-radius: 10px;
	width: 210px;
    height: 330px;
	backdrop-filter: blur(5px);
    background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(23,42,122,0.499124649859944) 38%, rgba(17, 27, 95, 0.764) 71%);
	transition: all .3s ease-in-out;
    padding:0px;
	z-index: 0;
}
.content .boxImgs:hover .itemsCard{
	width: 445px;
    height: 330px;
	z-index: 1;
}
.content .boxImgs .itemsCard .Img{
	transition: all .3s ease-in;
	border-radius: 10px;
	width: 210px;
    height: 330px;
}
.content .boxImgs:hover .Img{
	transform: scale(0.9);
}
.content .itemsCard img{
	border-radius: 10px;
	width: 100%;
	height: 100%;
}
.content .boxImgs .titlefilm{
	position: absolute;
    top: 290px;
    width: 210px;
	z-index: 3;
	text-align: center;
	font-size:14px;
	font-weight: bold;
	transition: all .3s ease-in-out;
	margin-left: 0;
}
.titlefilm{
	position: absolute;
    top: 300px;
    width: 100%;
}
.content .boxImgs:hover .titlefilm{
	opacity: 1;
}
.content .boxImgs:hover .overlaycards {
	backdrop-filter: blur(0px);
	background: linear-gradient(45deg, rgb(12 12 19 / 77%) 0%, rgba(23,42,122,0.499124649859944) 38%, rgba(17, 27, 95, 0.764) 71%);
	width: 210px;
	height: 300px;
}
.content .overlaycards{
	z-index: 1;
    height: 333px !important;
    width: 210px !important;
	background: rgb(0,0,0);
	border-radius: 10px;
	position: absolute;
	top: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgb(0 0 0 / 77%) 50%, rgba(9,18,32,1) 80%)!important;
}

/* detailsCards */
.content .boxImgs .detailsCards{
	position: absolute;
    top: 0;
	left: 4px;
	width: 200px;
    height: 98%;
    padding: 21px;
    text-align: center;
    color: var(--yellow);
    z-index: 2;
    justify-content: space-between;
    flex-direction: column;
	display: none;
	opacity: 0;
}
.content .boxImgs:hover .detailsCards{
    display: flex;
	left: 230px;
	opacity: 1;
}
.detailsCards .watchNow{
	font-size: 20px;
	margin-top: 20px;
	color: #EEE;
	transition: all 0.5s ease;
}
.watchNow:hover ,.boxTrailer:hover{
	color: #909090;
}
.detailsCards .boxType{
	display: flex;
    width: 100%;
    margin-top: 25px;
}
.detailsCards .boxType  .btntype{
	background: var(--yellow);
	color: #091226!important;
    font-weight: bold;
    max-width: 130px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
    font-size: 13px;
    margin: auto;
    box-shadow: inset 4px 4px 6px rgb(28 29 2 / 90%), 1px 3px 9px rgb(220 226 45 / 40%);
}
.detailsCards .boxTrailer {
    display: flex;
    width: 100%;
    margin-top: 30px;
    justify-content: space-between;
}
.btntype{
	color: #EEE!important;
    font-weight: bold;
    width: auto;
    font-size: 14px;
}
.detailsCards .iconCard{
	position: absolute;
    bottom: -17px;
    right: 0px;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.iconCard svg{
	color: #EEE;
	cursor:pointer;
	transition: all .5s;
}
.iconCard svg:hover{
	color: #11bcae;
	cursor:pointer;
}

/* last details card */
.boxImgs .lastDetails{
	position: absolute;
    top: 0;
	right: 4px;
	width: 200px;
    height: 98%;
    padding: 21px;
    text-align: center;
    color: var(--yellow);
    z-index: 2;
    justify-content: space-between;
    flex-direction: column;
	display: none;
	opacity: 0;
}
.boxImgs:hover .lastDetails{
    display: flex;
	right: 230px;
	opacity: 1;
}
.lastDetails .watchNow{
	font-size: 20px;
	color: #EEE;
	transition: all 0.5s ease;
}
.lastDetails .boxType{
	display: flex;
    width: 100%;
}
.lastDetails .boxType  .btntype{
	background: var(--yellow);
	color: #091226!important;
    font-weight: bold;
    max-width: 130px;
    width: 70px;
    border-radius: 50px;
    padding: 5px;
    font-size: 13px;
    margin: auto;
    box-shadow: inset 4px 4px 6px rgb(28 29 2 / 90%), 1px 3px 9px rgb(220 226 45 / 40%);
}
.lastDetails .boxTrailer {
    display: flex;
    width: 100%;
    margin-bottom: 18px;
    justify-content: space-between;
}
.lastDetails .iconCard{
	position: absolute;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

/* arrow Carousel Left & Right */
.arrow_Carousel{
	position: absolute;
    top: 12%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.arrow_Carousel button{
	background: rgb(0,0,0);
	width: 145px;
	height: 495px;
    padding: 0 20px;
    z-index: 2;
}
.arrow_Carousel .section__nav--next, .arrow_Carousel .section__nav--next2{
	background: linear-gradient(90deg, var(--btn-blur) 0%, var(--btn-blur2) 51%, rgba(0,0,0,0) 100%);
}
.arrow_Carousel .section__nav--prev, .arrow_Carousel .section__nav--prev2{
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--btn-blur2) 51%, var(--btn-blur) 100%);
}
.arrow_Carousel button svg{
    padding: 10px;
    font-size: 40px;
    color: var(--darkMode);
    border-radius: 50px;
}
.owl-dots {
	margin-top:10px;
	display: flex;
    justify-content: center;
}
.owl-dots button{
	background: rgb(166, 166, 166) !important;
    min-width: 15px;
    height: 15px;
    border-radius: 50px;
	margin: 10px;
    border: 3px solid #EEE !important;
}
.owl-dots .active{
	background: rgb(59 47 141) !important;
}
/* btn more */
.moreCardDanger{
	width: 100%!important;
	height: 50px!important;
	margin: 30px auto!important;
	display: flex;
    justify-content: space-around;
    align-items: center;
}
.moreCardDanger .numNav{
	height: 100%!important;
}
.moreCardDanger .numNav a{
	box-shadow: inset 1px 1px 10px rgb(88 105 255 / 77%);
    color: #EEE;
	background: #091226;
    width: 100px;
    height: 90%;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
/* Change btn */
.content .ul{
	width: 100%;
    padding: 0!important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content ul li{
	box-shadow: inset 1px 1px 10px rgb(88 105 255 / 77%);
	background: #0d2456 !important;
    color: #EEE!important;
	border-radius: 10px;
	transition: 1s;
}
.content ul .first{
	clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
}
.content ul .between{
	clip-path: polygon(25% 100%, 75% 100%, 100% 0, 0 0);
    padding: 0px 20px;
}
.content ul .last{
	clip-path: polygon(25% 0, 100% 0, 100% 100%, 0% 100%);
}
.content ul li:hover{
	border-radius: 10px;
	background: #091226a5 !important;
    color: #eee!important;
}
.content ul li:hover button{
	background: #09122600 !important;
    color: #eee!important;
}
.content ul li button{
	text-transform: uppercase;
	transition: 1s;
    color: #eee!important;
}
/* Active btn */
.content .ul .active{
	text-shadow: 1px 1px 12px #f4ff92;
	font-weight: bold;
	background: #09122600 !important;
    color: #ffffff !important;
	
}
/*==============================
	End Cards
==============================*/
